<mat-toolbar color="primary" class="d-flex justify-content-between">
  <div class="d-flex align-items-center header-left">
    <img src="../../../../assets/images/favicon.png" alt="Favicon" class="favicon" height="500" width="500">
    <span class="website-name">TrustTie</span>
  </div>
  <div class="header-middle d-flex">
    <ng-container *ngIf="!isLoggedIn(); else loggedInLinks">
      <button mat-button routerLink="/adopter" routerLinkActive="active-link"
              [routerLinkActiveOptions]="{ exact: true }">Home
      </button>
      <button mat-button routerLink="/animals-list" routerLinkActive="active-link">Animals List</button>
      <button mat-button routerLink="/events-list" routerLinkActive="active-link">Events List</button>
    </ng-container>
    <ng-template #loggedInLinks>
      <ng-container *ngIf="isAdopter(); else organizationLinks">
        <button mat-button routerLink="/adopter" routerLinkActive="active-link"
                [routerLinkActiveOptions]="{ exact: true }">Home
        </button>
        <button mat-button routerLink="/animals-list" routerLinkActive="active-link">Animals List</button>
        <button mat-button routerLink="/events-list" routerLinkActive="active-link">Events List</button>
      </ng-container>
      <ng-template #organizationLinks>
        <button mat-button routerLink="/organization/dashboard" routerLinkActive="active-link"
                [routerLinkActiveOptions]="{ exact: true }">Organization Dashboard
        </button>
        <button mat-button routerLink="/my-animals-list" routerLinkActive="active-link">My Animals List</button>
        <button mat-button routerLink="/my-events-list" routerLinkActive="active-link">My Events List</button>
      </ng-template>
    </ng-template>
  </div>
  <div class="header-right d-flex align-items-center">
    <button *ngIf="isLoggedIn()" mat-button [routerLink]="isAdopter() ? '/adopter/profile' : '/organization/profile'" routerLinkActive="active-link">
      <img src="../../../../assets/images/defaultUser.png" alt="Profile" class="profile-icon">
    </button>
    <button *ngIf="!isLoggedIn(); else logoutButton" mat-button routerLink="/adopter/login"
            routerLinkActive="active-link">Login
    </button>
    <ng-template #logoutButton>
      <button mat-button (click)="logout()">Logout</button>
    </ng-template>
  </div>
</mat-toolbar>
