<div class="login-container">
  <mat-card class="login-card">
    <div class="login-header">
      <img src="../../../assets/images/favicon.png" alt="TrustTie Logo" class="login-logo">
    </div>
    <mat-card-content>
      <form [formGroup]="loginForm">
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" type="email" required>
          <mat-error *ngIf="loginForm.get('email').hasError('required')">Email is required</mat-error>
          <mat-error *ngIf="loginForm.get('email').hasError('email')">Enter a valid email</mat-error>
        </mat-form-field>
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" type="password" required>
          <mat-error *ngIf="loginForm.get('password').hasError('required')">Password is required</mat-error>
        </mat-form-field>
        <div class="login-actions">
          <button mat-button class="register-button">Register</button>
          <button mat-button (click)="login()">Login</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
