<div class="profile-container">
  <mat-card class="profile-card">
    <div class="profile-header">
      <img src="assets/images/favicon.png" alt="TrustTie Logo" class="profile-logo">
    </div>
    <mat-card-content>
      <form [formGroup]="adopterForm">
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" type="email" readonly>
          <mat-error *ngIf="adopterForm.get('email')?.hasError('email')">Enter a valid email</mat-error>
        </mat-form-field>

        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Phone</mat-label>
          <input matInput formControlName="phone" type="tel">
        </mat-form-field>

        <mat-form-field class="full-width" appearance="fill">
          <mat-label>First Name</mat-label>
          <input matInput formControlName="firstName" type="text">
        </mat-form-field>

        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Last Name</mat-label>
          <input matInput formControlName="lastName" type="text">
        </mat-form-field>

        <mat-form-field class="full-width fixed-textarea" appearance="fill">
          <mat-label>Biography</mat-label>
          <textarea matInput formControlName="biography"></textarea>
        </mat-form-field>

        <div class="profile-actions">
          <button mat-raised-button color="warn" (click)="deleteAccount()">Delete Account</button>
          <button mat-raised-button color="primary" (click)="updateAdopter()">Update</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
