<footer class="footer mt-auto py-3 bg-light">
  <div class="container text-center">
    <div class="d-flex flex-column align-items-center">
      <img src="../../../../assets/images/favicon.png" alt="TrustTie Logo" class="footer-logo mb-2">
      <span class="footer-name">&copy; TrustTie</span>
      <p class="footer-description">Discover your perfect pet with TrustTie, the ultimate animal adoption
        platform connecting adopters with animal organizations. Explore events, engage in chats,
        read reviews, and access educational resources.</p>
    </div>
  </div>
</footer>
